*{
    margin: 0;
    box-sizing: border-box;
}
.span-2{
    grid-column: span 2;
}
.span-3{
    grid-column: span 3;
}
.container{
    max-width: 360px;
    margin: 60px auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.info{
    display: none;
}

.number-input{
    width: 100%;
    padding: 20px 10px;
    background-color: black;
    font-family: monospace;
    color: white;
    font-size: 3rem;
    text-align: end;
}
.button-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.button{
    background-color: #ccc;
    border: 2px solid black;
    padding-block: 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    background-color: white;
}
.Orange{
    background-color: orange;
}